body {
    display: flex;
    flex-direction:column;
    background-color: antiquewhite;
    align-items: center;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

#profile-container {
    display: flex;
    justify-content: center;
    background: linear-gradient(160deg, rgb(231, 168, 231) 60%, antiquewhite 40%);
    width: 100%;
    padding: 2rem;
}

#ollie-profile-pic {
    width: 40vw;
    height: auto;

}

#profile-pic-name {
    position: absolute;
    top: 7em;
    left: 5em;
    font-size:3rem;
    color: white;

}

header p {
    padding: 1rem;
    margin: 0;
}

h1 {
    margin: 0;
}

main {
    display: flex;
    flex-direction:column;
    background-color: antiquewhite;
    align-items: center;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
}

#container-projects {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    border: 1px solid black;
    padding: 1rem;
    background-color: white;
}

.card-top {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size:2rem;
   
    background-color: purple;
    height: 10rem;
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    background-color: rgb(231, 168, 231);
    width: 100%;
}

#ollie-exit-pic {
    width: 60vw;
    height: auto;
}