@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Playfair Display', 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction:column;
    background-color: antiquewhite;
    align-items: center;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

#profile-container {
    display: flex;
    justify-content: center;
    background: linear-gradient(160deg, rgb(231, 168, 231) 60%, antiquewhite 40%);
    width: 80% ;
    padding: 2rem;
}


#profile-pic-container {
    width: 90%;
    height: 400px;
    background-image: url('../assets/ollie1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#profile-pic-container span {
    position: relative;
    font-size:3rem;
    color: white;
    top: 19rem;
    margin-left: 1rem;
}

header p {
    padding: 1rem;
    margin: 0;
}

h1 {
    margin: 0;
}

main {
    display: flex;
    flex-direction:column;
    background-color: antiquewhite;
    align-items: center;
    width: 90%;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

#container-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    border: 1px solid black;
    padding: 1rem;
    background-color: white;
}

.card-top {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size:2rem;
    background-color: purple;
    height: 10rem;
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    /* padding: 1rem; */
    align-items: center;
    background-color: rgb(231, 168, 231);
    width: 100%;
    padding-top: 1rem;
}

#ollie-exit-pic {
    width: 100%;
    height: auto;
}

#contact-info {
    padding: 1rem;
}

#contact-info p:first-child {
    font-size: larger;
}